@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@500;900&display=swap');
// font-family: 'Montserrat', sans-serif; Extra-light 200
// font-family: 'Roboto', sans-serif; Medium 500 Black 900
*{font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}