@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@500;900&display=swap');
// font-family: 'Montserrat', sans-serif; Extra-light 200
// font-family: 'Roboto', sans-serif; Medium 500 Black 900
*{font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 100vw;
    height: 100vh;
    // background: red;
    header {
        width: 100%;
        height: 20%;
        display: flex;
        padding: 2em;
        #score {
           font-size: 0.75em;
           color: #FF65FF;
        }
        #time {
          margin-left: auto;
          font-size: 0.75em;
        }
    }
    main {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 4em;
        h1 {
            font-family: 'Roboto', sans-serif; 
        }
        p {
            margin: 2em 0;
        }
        button {
            color: white;
            background-color: purple;
            padding: 1em 2em;
            border: none;
            border-radius: 0.5em;
            transition: all 300ms linear;
            cursor: pointer;
        }
        button:hover {
            background-color: #6B006B;
        }
    }
}

.hide {
    display: none;
}